<p class="card-question"> <%= @question %>
<br><i>- You </i>
</p>

<p class="card-answer"> <b> <%= @answer %></b>
<br> <i>- Your coach</i> </p>

<p class="link"> <%= link_to "Ask a new question", ask_path %></p>
