/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .card-answer {
  background: rgb(246, 247, 224);
  padding: 15px;
  margin-left: 30px;
  border: 1px transparent lightgrey;
  box-shadow: -10px 0px 0px rgba(0,0,0,.07);
  width: 620px;
  border-radius: 5px
}
.card-question {
  background: white;
  padding: 15px;
  margin-left: 30px;
  border: 1px transparent lightgrey;
  box-shadow: -10px 0px 0px rgba(0,0,0,.07);
  width: 620px;
  border-radius: 5px;
}
.title {
  margin-left: 30px;
  margin-bottom: 40px;

}

.link {
  margin-left: 30px;
}

.link2 {
  margin-left: 30px;
  width:650px;
  border-radius: 4px;
  height: 45px;

}

.italic {
  font-style: italic;
}


.btn-primary {
  margin-left: -44px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 45px;
  width: 60px;
  background-color: rgb(63, 103, 176);
}
